#products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}
.item {
    width: 23%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
}
.brand-name {
    text-align: center;
    padding: 8px 0;
    font-weight: bold;
}
.brand-img {
    width: 100%;
    height: 300px;
}
.brand-img img {
    width: 100%;
    height: 100%;
}
.brand-price {
    font-weight: 600;
    padding-left: 20px;
    margin-bottom: 10px;
}
.brand-description {
    padding-left: 20px;
}
